{% extends 'base.html' %}

{% block content %}

<h1>Saved Actors</h1>

{% block contents %}
<div>
{% for message in get_flashed_messages() %}
<strong>*** {{ message }} ***</strong>
{% endfor %}
</div>
{% endblock %}

<ul>
{% for actor in actors %}
    <li>
        <h2>{{ actor.name }}</h2>
        <body>{{ actor.bio }}</body>
        <h4>Known for:</h4>
        <ul>
          {% for movie in actor.movies %}
          <li>{{ movie }} -- {{ movie.rating }}</li>
          {% endfor %}
        </ul>
{% endfor %}
</ul>

{% endblock %}